body{
    font-family: "PT Sans Caption", sans-serif;
    background-color: #F7ECDE;
}
h1::selection,input::selection,h2::selection,label::selection,th::selection,td::selection
{
    background-color:#FEC260;
}
.head h1{
    font-family: "Pacifico", cursive;
    font-size: 50px;
    color: #352e28;

}
.head h1::before{
    content:'';
    background-color: #FEC260;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    width: 100%;
    height: 25%;
    z-index: -1 ;
    transition: all 350ms;

}
h1:hover::before {
    height: 50%;
    transform: all 0.4s;

}
.bookmark-body{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}

.bookmark-body h2{
font-family: "Righteous", sans-serif;
font-size: 25px;
background-image: linear-gradient(to right, #3ca55c, #b5ac49);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
    .bookmark-body h2 {
           font-size: 1.3rem;
       }
   }
.btn-submit{
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120;
    --bs-btn-hover-border-color: #a03315;
    
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}

table{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.btn-visit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #9eb23b;
    --bs-btn-border-color: #9eb23b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8a9e23;
    --bs-btn-hover-border-color: #6e8018;
}

.circles span:nth-child(1) {
    background-color: #f15f5d;
}
.circles span:nth-child(2) {
    background-color: #febe2e;
}
.circles span:nth-child(3) {
    background-color: #4db748;
}
.circles span {
    display: block;
    width: 20px;
    height: 20px;
}
.rules i {
    color: #bb4120;
}
.box-conent p {
    font-family: "Bree Serif", serif;
    font-size: 21px;
    line-height: 1.3;
    color: #352e28;
}
.rules li {
    font-size: 18px;
    padding-top: 10px;
}
.box-conent {
    width: 500px;
    z-index: 10;
}
